[Unit]
Description=checkfrpc
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
User=root
ExecStart=/usr/bin/python /root/checkfrpc/checkfrpc/checkfrpc.py  // 必须为绝对路径

[Install]
WantedBy=multi-user.target
